* {
    margin:0;
    padding: 0;
}
body
{
    width: 21.0cm;
    height: 29.7cm;
    /*background-image: url('../images/cmrbe.jpg');*/
    background-repeat: no-repeat;
    background-size: 21.0cm 29.7cm;
    font-size: 11px;
    font-family: "Times New Roman";
}
p
{
    position: absolute;
}
#sender
{
    left:   2.4cm;
    top:    3.98cm;
    width:  8.62cm;
    height: 1.75cm;
}
#receiver
{
    left: 2.4cm;
    top: 6.52cm;
    width: 8.5cm;
    height: 1.7cm;
}
#reception
{
    left: 2.4cm;
    top: 8.99cm;
    width: 5.8cm;
    height: 1.7cm;
}
#reception-date
{
    left: 8.9cm;
    top: 8.99cm;
    width: 4.46cm;
    height: 1.7cm;
}
#delivery
{
    left: 2.4cm;
    top:    10.4cm;
    width:  5.8cm;
    height: 1cm;
}
#delivery-date
{
    left: 8.9cm;
    top:    8.99cm;
    width:  2.0cm;
    height: 0.7cm;
}
#transporter-main
{
    left: 11.6cm;
    top: 4.1cm;
    width: 8.5cm;
    height: 3.04cm;
}
#transporter-sub
{
    left: 11.6cm;
    top: 7.96cm;
    width: 8.5cm;
    height: 2.31cm;
}
#transporter-successive
{
    left: 11.6cm;
    top: 11cm;
    width: 8.5cm;
    height: 0.1cm;
}
#transport-related-costs
{
    left: 3cm;
    top: 12.41cm;
    width: 7.8cm;
    height: 3.13cm;
}
#goods
{
    left: 2.4cm;
    top: 16.2cm;
    width: 17.8cm;
    height: 6.51cm;
}
#issue
/*datum plaast afgifte*/
{
    left: 2.4cm;
    top: 25.29cm;
    width: 6cm;
    height: 0.47cm;
}
#instructions-sender
{
    left: 12.2cm;
    top: 24.27cm;
    width: 7.8cm;
    height: 1.4cm;
}
#signature-sender
{
    left: 2.4cm;
    top: 26.31cm;
    width: 5.5cm;
    height: 22.6cm;
}
#signature-transporter
{
    left: 8.5cm;
    top: 26.31cm;
    width: 5.67cm;
    height: 2.26cm;
}
#signature-receiver
{
    left: 14.6cm;
    top: 26.31cm;
    width: 5.67cm;
    height: 2.26cm;
}
